WCF1-Console/WCF1-Console/Connected Services/ServicePessoa/ServicePessoa1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pessoa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pessoa" nillable="true" type="tns:Pessoa" />
</xs:schema>