WCF1-Console/WCF1-Console/Connected Services/ServicePessoa/ServicePessoa.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62401/ServicePessoa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF1" />
  <xs:element name="GetPessoa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPessoaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF1" minOccurs="0" name="GetPessoaResult" nillable="true" type="q1:Pessoa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>